<p [ngClass]="estilo">Evan Joseph</p>
<button (click)="mudaCor()">MudaCor</button>
<h1 [ngStyle]="{ background: corFundo, color: corDaFonte }">Curso Angular</h1>

<ng-content select="h2"></ng-content>

<h1>Lista de Compras</h1>
<p>Adicione um item</p>
<input type="text" [(ngModel)]="item" />
<button (click)="adicionarLista()">Adicionar Item</button>
<p>{{ item }}</p>
<ng-content select="p"></ng-content>
<ul>
  <li *ngFor="let elemento of lista">{{ elemento }}</li>
</ul>
<hr />

<ng-template [ngIf]="isEnableBlock">
  <a href="#">Finalizar compra</a>
</ng-template>
<br />
<ng-template [ngIf]="true">
  <a href="#">Adicionar ao carrinho</a>
</ng-template>

<hr />
